:root{
   --accent-text-color: #2E2F42;
   --button-color: #4D5AE5;
   --background-color: #2E2F42;
    }
.header {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 1.1;
color:var(--accent-text-color);
text-decoration: none;
}
a.decoration{
color:var(--button-color);
text-decoration: none; 
}
.header-nav{
font-weight: 600;
text-transform: uppercase;
}
.first-logo{
font-family: inherit;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--button-color);
text-decoration: none;
}
.second-logo link > span{
font-family: inherit;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--accent-text-color);
text-decoration: none;
}

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    text-transform: capitalize;
}

.header-link:hover,
.header-link:focus{
    color: #404BBF;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
}

.hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
background:var(--background-color);
}
.contact-tel link{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;
}
.contact-mail link{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;
}
body{
font-family:'Roboto', sans-serif;
color: #FFFFFF;
    }
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.hero{
background:var(--background-color);

}
.hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
background:#2E2F42;
}
.button-hero{
font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background:#4D5AE5;;
}
.button-hero:hover,
.button-hero:focus{
    color: #FFFFFF;
    background:#404BBF;
}
.button-primary{
font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
background: #404BBF; ;
}
.button-primary:focus,
.button-primary:hover{
color: #4D5AE5;
}
.button-secondary{
font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
background:#F4F4FD;
}

li{
list-style-type:none;
}

.features-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.features-desc{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
.headline{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform:capitalize;
color: #2E2F42;
}
.header-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.about-description {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #4D5AE5;
}
.about-title {
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.list{
    list-style: none;
}
.about-subtitle {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #434455;
}                                              
.page-footer{
color: #F4F4FD;
background-color:#2E2F42;;
}

.link {
text-decoration: none;
}
a.decoration{
text-decoration: none; 
}

.footer-nav{
  
}
.footer-logo{
font-family: inherit;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;
}
.footer-second-logo {
font-family: inherit;
font weight:800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
text-decoration: none;
}
.footer-description{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #E7E9FC;
}
