:root{
   --accent-text-color: #2E2F42;
   --button-color: #4D5AE5;
    }
.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: #2E2F42;
    text-decoration: none;
}
a.decoration{
    color: #4D5AE5;
    text-decoration: none; 
}
.header-nav{
    text-transform: uppercase;
}
.first-logo link > span{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;
}
.second-logo link > span{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;
}
.header-link link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
}
.contact-tel link{
 font-family: 'Roboto';
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;
}
.contact-mail link{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;
}
body{
font-family: 'Roboto', sans-serif;

    }
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.btn-primary{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
background: #404BBF;
}
.btn-primary:focus,
.btn-primary:hover{
    color: #4D5AE5;
  
}

.btn-secondary{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.33;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}

li{
    list-style-type:none;
}
.about-description {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.33;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}
.about-title {
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.list{
    list-style: none;
}
.about-subtitle {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #434455;
}                                              
.page-footer{
color: #F4F4FD;
background-color:#2E2F42;;
}

.link {
    text-decoration: none;
}
a.decoration{
    text-decoration: none; 
}

.footer-nav{
  
}
.footer-first link{
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.footer-second link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-description{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #E7E9FC;
}
